@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  background-color: black;
}

/*Nav Section Style*/
.nav {
  height: 50px;
  background: rgb(244, 125, 125);
}

.nav div {
  display: inline-block;
  position: absolute;
  left: 0;
  padding: 15px;
  font-size: 20px;
  color: white;
}

.nav ul {
  position: absolute;
  right: 5px;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  color: white;
  padding: 5px;
}
/*Home Section style*/
.home {
  background: rgb(0, 172, 240);
  background-size: cover;
}

.home .text-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
/*About Me Section Style*/
.aboutMe {
  background: rgb(0, 172, 240);
}
.aboutMe .about-content {
  margin: 0 auto 0 auto;
  width: 500px;
}

.aboutMe .about-content h1 {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: red;
}
.aboutMe .about-content p {
  text-align: justify;
  font-family: "Lato", sans-serif;
  color: green;
}

/*Projects Section Style*/
.projects {
  background: rgb(0, 172, 240);
  font-family: "Lato", sans-serif;
  flex-direction: column;
}

.projects .projects-content {
  margin: 50px auto 0 auto;
  text-align: center;
}

.projects .projects-content ul {
  margin: 20px auto 0 auto;
  padding: 0;
}

.projects .projects-content ul li {
  list-style: none;
}

.projects .projects-content h1 {
  color: green;
}

.projects .projects-content ul li p {
  text-align: center;
  color: black;
}

/*applications Section Style*/
.applications {
  background: rgb(0, 172, 240);
  font-family: "Lato", sans-serif;
}

.applications .application-contents {
  margin: 50px auto 0 auto;
  text-align: center;
  flex-wrap: wrap;
}

.applications .application-contents ul {
  margin: 20px auto 0 auto;
  padding: 0;
}

.applications .application-contents ul li {
  list-style: none;
}

/*Contact Section Style*/
.contact {
  background: rgb(0, 172, 240);
  background: cover;
  background-repeat: repeat-y;
  font-family: "Lato", sans-serif;
}

.contact .contact-content {
  margin: 50px auto 0 auto;
  text-align: center;
}

.contact .contact-content h1 {
  color: red;
}

.contact .contact-content p {
  color: rgb(17, 137, 206);
}
