<!DOCTYPE html>
<html>
<head>
<style>
/*Background*/
    #borderimg
	{
		border: 100px solid transparent;
		border-color: rose;
	}
    body
    {
        background-image: url("Background.jpg");
        background-size: cover;
    }
/*Top Navigation Purposes*/
	.bg-img-topnavbar
		{
			background-image: url("PastelRedNav.jpg");
			min-height: 4rem;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
		}
	.container{
		position:absolute;
		margin: -9px;
		width: auto;
	}
	.topnavbar
	{
		overflow: hidden;
		position: fixed;
		top: 0;
		width: 100;
	}

	.topnavlinks a
	{
		float: left;
		color:#333;
		text-align: center;
		padding: 16px 20px;
		text-decoration: none;
		display: inline-block;
	}

	.topnav a:hover
	{
		background: #233;
		color: white;
	}

	.button
	{
		background-image: url("buttons.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right;
		border-image: url(buttons.jpg)
		color: Purple;
		padding: 2rem;
		text-align: center;
		display: inline-block;
		font-family: "courier New", courier, monospace;
		font-size: 20px;
		cursor: pointer;
	}

</style>
</head>
</html>
